{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
{% block stylesheets %}
<style>
.table-container {
  margin-left:250px;
}
</style>
{% endblock %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
<nav class="navbar"></nav>
<script src="{{ asset('js/affichage.js') }}"></script>
  <center>  <h1 style="color:black;font-size:38px;  font-weight: bold;">Produit index</h1></center>
    <div class="table-container">

     <table class="table">
         <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Qte</th>
                <th>Img</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td style="color:black;font-size:18px;font-weight: bold;">{{ produit.id }}</td>
                <td style="color:black;font-size:18px;font-weight: bold;">{{ produit.nom }}</td>
                <td style="color:black;font-size:18px;font-weight: bold;">{{ produit.description }}</td>
                <td style="color:black;font-size:18px;font-weight: bold;">{{ produit.prix }}</td>
                <td style="color:black;font-size:18px;font-weight: bold;">{{ produit.qte }}</td>
                <td style="color:black;font-size:18px;font-weight: bold;">{{ produit.img }}</td>
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}"class="btn btn-primary"style="color: white; text-decoration: none;">show</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}"class="btn btn-warning" style="color: white; text-decoration: none;">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_new') }}"class="btn btn-success" style="color: white; text-decoration: none;">Create new</a>
{% endblock %}
