{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
 .table {
        width: 100%;
        max-width: 500px; /* Définir la largeur maximale du tableau */
        margin: 0 auto; /* Centrer le tableau horizontalement */
        background-color: #f5f5f5;
        border-radius: 6px;
        border: 1px solid #ddd;
    }

    .table th, .table td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .table th {
        background-color: black; /* Couleur d'arrière-plan de l'en-tête */
        color: white;
        text-align: left;
    }

    .table td {
        background-color: white;
    }

    .table tbody tr:last-child td {
        border-bottom: none; /* Supprimer la bordure du dernier élément de la colonne */
    }
 </style>
{% endblock %}
{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>Date_commande</th>
                <td>{{ commande.dateCommande ? commande.dateCommande|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Montant_total</th>
                <td>{{ commande.montantTotal }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commande_index') }}">back to list</a>

    <a href="{{ path('app_commande_edit', {'id': commande.id}) }}"class="btn btn-warning"style="color: white;">edit</a>

    {{ include('commande/_delete_form.html.twig') }}
{% endblock %}
