{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
.table-container {
  margin-left:250px;
}
 .table {
        width: 100%;
        max-width: 500px; /* Définir la largeur maximale du tableau */
        margin: 0 auto; /* Centrer le tableau horizontalement */
        background-color: #f5f5f5;
        border-radius: 6px;
        border: 1px solid #ddd;
    }

    .table th, .table td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .table th {
        background-color: black; /* Couleur d'arrière-plan de l'en-tête */
        color: white;
        text-align: left;
    }

    .table td {
        background-color: white;
    }

    .table tbody tr:last-child td {
        border-bottom: none; /* Supprimer la bordure du dernier élément de la colonne */
    }
 </style>
{% endblock %}
{% block title %}Commande{% endblock %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
<nav class="navbar"></nav>
<script src="{{ asset('js/affichage.js') }}"></script>
    <center> <h1 style="color:black;font-size:38px;  font-weight: bold;">Commande</h1></center>
<div class="table-container">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td style="color:black;font-size:18px;font-weight: bold;">{{ commande.id }}</td>
            </tr>
            <tr>
                <th>Date_commande</th>
                <td style="color:black;font-size:18px;font-weight: bold;">{{ commande.dateCommande ? commande.dateCommande|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Montant_total</th>
                <td style="color:black;font-size:18px;font-weight: bold;">{{ commande.montantTotal }}</td>
            </tr>
<tr>  <tr>
                <th>client</th>
                <td style="color:black;font-size:18px;font-weight: bold;">{{ commande.client }}</td>
            </tr>
             
                <th>Actions</th>
                <td>
             <a href="{{ path('app_commande_edit', {'id': commande.id}) }}"class="btn btn-warning"style="color: white;">edit</a>
<br> <br>

    {{ include('commande/_delete_form.html.twig') }}
    </td>
 </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commande_index') }}"style="color: black;font-size:18px;font-weight: bold;text-decoration: underline;">back to list</a>

   
{% endblock %}
