{% extends 'base.html.twig' %}

{% block title %}Adresse index{% endblock %}

{% block body %}
{% block stylesheets %}
<style>
.table-container {
  margin-left:250px;
}
</style>
{% endblock %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
<nav class="navbar"></nav>
<script src="{{ asset('js/affichage.js') }}"></script>
   <center>  <h1 style="color:black;font-size:38px;  font-weight: bold;">Adresse index</h1></center>

    <div class="table-container">

    <table class="table">
         <thead class="thead-dark">
        
            <tr>
                <th>Id</th>
                <th>Rue</th>
                <th>Code_postal</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adresse in adresses %}
            <tr>
                <td style="color:black;font-size:18px;font-weight: bold;">{{ adresse.id }}</td>
                <td style="color:black;font-size:18px;font-weight: bold;">{{ adresse.rue }}</td>
                <td style="color:black;font-size:18px;font-weight: bold;">{{ adresse.codePostal }}</td>
                <td style="color:black;font-size:18px;font-weight: bold;">{{ adresse.ville }}</td>
                <td style="color:black;font-size:18px;font-weight: bold;">{{ adresse.pays }}</td>
                <td>
                    <a href="{{ path('app_adresse_show', {'id': adresse.id}) }}"class="btn btn-primary"style="color: white; text-decoration: none;">show</a>
                    <a href="{{ path('app_adresse_edit', {'id': adresse.id}) }}"class="btn btn-warning" style="color: white; text-decoration: none;">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_adresse_new') }}"class="btn btn-success" style="color: white; text-decoration: none;">Create new</a>
{% endblock %}
