
{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
{% block stylesheets %}
<style>
.table-container {
  margin-left:250px;
}
</style>
{% endblock %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
<nav class="navbar"></nav>
<script src="{{ asset('js/affichage.js') }}"></script>

   <center> <h1 style="color:black;font-size:38px;  font-weight: bold;">Client index</h1> </center>
<div class="table-container">

    <table class="table">
         <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td style="color:black;font-size:18px;font-weight: bold;">{{ client.id }}</td>
                <td style="color:black;font-size:18px;font-weight: bold;">{{ client.nom }}</td>
                <td style="color:black;font-size:18px;font-weight: bold;">{{ client.email }}</td>
                <td style="color:black;font-size:18px;font-weight: bold;">{{ client.password }}</td>
                <td>
                  
  <a href="{{ path('app_client_show', {'id': client.id}) }}" class="btn btn-primary"style="color: white; text-decoration: none;">show</a>


                
  <a href="{{ path('app_client_edit', {'id': client.id}) }}"class="btn btn-warning" style="color: white; text-decoration: none;">edit</a>


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

 
  <a href="{{ path('app_client_new') }}" class="btn btn-success" style="color: white; text-decoration: none;" >
     Create new
  </a>



{% endblock %}
