{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
   <center> <h1>Categorie index</h1></center>
 <table class="table">
         <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.nom }}</td>
                <td>{{ categorie.description }}</td>
                <td>
                    <a href="{{ path('app_categorie_show', {'id': categorie.id}) }}"class="btn btn-primary"style="color: white; text-decoration: none;">show</a>
                    <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}"class="btn btn-warning" style="color: white; text-decoration: none;"> edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_new') }}" class="btn btn-success" style="color: white; text-decoration: none;">Create new</a>
{% endblock %}
